* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: 0;
}

h1,
h5,
span,
h2,
button {
    font-family: sans-serif;
}

h2 {
    font-size: min(8vw, 22px);
}

h1 {
    font-size: min(8vw, 45px);
}

span {
    font-weight: bolder;
    font-size: min(8vw, 28px);
}

h5 {
    font-size: min(8vw, 20px);
    font-weight: lighter;
}

body {
    background-color: rgb(7, 78, 78);
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-width: 640px;
    background-color: white;
    margin: auto;
    border-radius: 5px;
    max-height: fit-content;
}

.content {
    margin: 0 20px;
    padding-bottom: 15px;
}

.content h1 {
    padding: 35px 0;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.tabela-resultado {
    margin-right: 100px;
}

.flex span,
.flex h5 {
    margin: 15px 0;
}

.forms {
    padding-bottom: 1px;
}

.forms label {
    font-family: sans-serif;
    font-weight: bold;
    font-size: min(8vw, 25px);
}

.forms input {
    display: block;
    width: 100%;
    padding: 15px 25px;
    margin: 10px 0;
    font-family: sans-serif;
    font-weight: bold;
    font-size: min(8vw, 25px);
    border-radius: 15px;
    border: 2px solid
}

button {
    margin: 20px 0;
    background-color: rgb(7, 78, 78);
    color: white;
    border: 0px;
    cursor: pointer;
    width: 100%;
    padding: 12px;
    font-size: min(8vw, 25px);
    border-radius: 15px;
}

.forms input:focus {
    border: 2px solid rgb(7, 78, 78);
}

#resultado {
    width: fit-content;
    padding: 2px 5px;
    display: none;
}

@media (max-width: 550px) {


    .tabela-imc,
    .tabela-resultado,
    .content h1:nth-child(1) {
        display: none;
    }
}